### macOS
.DS_Store

### Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
node_modules/

### JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# Compilation
src/**/*.map
src/**/*.js

# SCSS types
*.scss.d.ts