/* MAIN STYLE */

body {
	font-family: San Francisco, Helvetica, Arial, Verdana, sans-serif;
	margin: 7% 20%;
	background-color: rgb(40, 40, 40);
	color: white;
}

/* WEBSITE'S HEADER */

#title h1 {
	font-size: 3em;
	line-height: 0.5;
}

#title h2 {
	font-size: 0.7em;
}

#nav ul {
	text-align: right;
	list-style-type: none;
}

#nav ul li {
	display: inline;
}

#nav ul li a {
	text-decoration: none;
}

#nav a:link {
	color: white;
}

#nav a:visited {
	color: white;
}

/* WEBSITE'S CONTENT */

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1em;
}

img {
	position: center;
	padding: 0% 2% 2% 2%;
}