@import "../../styles/colours";

p.paragraph {
  line-height: 22px;
  a {
    color: $dark-purple;

    &:visited {
      color: $dark-purple;
    }
  }

  p.important {
    font-weight: normal;
  }
}