@import "../../styles/colours";

.section-wrapper {
  margin: 0;
  display: block;
  padding: 40px 0 0;

  &.purple {
    background-color: $dark-purple;
    color: white;
  }
  &.bottomPadding {
    padding: 40px 0;
  }
  .section {
    width: 60%;
    margin: auto;
  }
}