@import "../../styles/colours";
@import "../../styles/mixins/brakpoint";

.section-wrapper {
  margin: 0;
  display: block;
  padding: 40px 0 0;

  &.purple {
    background-color: $dark-purple;
    color: white;
  }
  &.bottomPadding {
    padding: 40px 0;
  }
  .section {
    width: 90%;
    margin: auto;
  }
}

@include breakpoint($tablet) {
  .section-wrapper {
    .section {
      width: 80%;
      margin: auto;
    }
  }
}

@include breakpoint($desktop) {
  .section-wrapper {
    .section {
      width: 60%;
    }
  }
}