@import "../../styles/colours";

.tab {
  .tab-header {
    background-color: $dark-purple;
    color: white;
    padding: 10px;
    margin: 0;
    border: 0 solid $light-purple;
    border-bottom-width: 10px;
    h3 {
      line-height: 0;
    }
  }
  .tab-body {
    margin: 0;
    background-color: $light-purple;
    max-height: 0;
    transition: max-height .4s ease-in;
    overflow: hidden;

    &.open {
      height: auto;
      max-height: 500px;
      transition: max-height .4s ease-in;
    }

    .tab-content {
      padding: 10px;
    }
  }
}