@import "../../styles/colours";

.tab {
  .tab-header {
    background-color: $dark-purple;
    color: white;
    padding: 10px;
    margin: 0;
    border: 0 solid $light-purple;
    border-bottom-width: 10px;
    cursor: pointer;
    display: flex;

    h3 {
      line-height: 0;
      display: inline-block;
      width: 95%;
    }

    .cross {
      display: inline-block;
      margin-top: 5px;
      transform: rotate(45deg);
      transition: transform .2s ease-in-out;

      &.open {
        transform: rotate(0deg);
      }

      [class^=cross-] {
        height: 30px;
        width: 4px;
        background-color: $light-purple;
        border-radius: 2px;
        transform: rotate(45deg);
        display: inline-block;
      }
      .cross-1 {
        transform: rotate(45deg);
      }
      .cross-2 {
        transform: rotate(-45deg);
        margin-left: -4px;
      }
    }
  }
  .tab-body {
    margin: 0;
    background-color: $light-purple;
    max-height: 0;
    transition: max-height .4s ease-in;
    overflow: hidden;

    &.open {
      height: auto;
      max-height: 500px;
      transition: max-height .4s ease-in;
    }

    .tab-content {
      padding: 10px;
    }
  }
}